* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  font-size: 18px;
}

body h1 {
  font-family: "Poppins", sans-serif;
  color: #00252e;
}

body p {
  font-family: "Open Sans", sans-serif;
  color: #808d99;
}

.header-nav .btn-nav {
  padding: 0.5rem 3rem;
  background-color: #fff;
  border-radius: 2rem;
  -webkit-box-shadow: 0 2px 5px #dfdfdf;
          box-shadow: 0 2px 5px #dfdfdf;
}

.header-nav a {
  font-family: "Poppins", sans-serif;
  color: #00252e;
}

.header-text h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.header-text P {
  color: #00252e;
  margin-bottom: 3rem;
}

.header-text a {
  text-decoration: none;
  color: #ebfbff;
  padding: 1rem 3rem;
  background-color: #ff52bf;
  border-radius: 2rem;
  font-family: "Poppins", sans-serif;
}

.last-content {
  text-align: center;
}

.last-content h1 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.last-content a {
  color: #ebfbff;
  padding: 1.5rem 6rem;
  background-color: #ff52bf;
  border-radius: 5rem;
  -webkit-box-shadow: 0 3px 5px #dfdfdf;
          box-shadow: 0 3px 5px #dfdfdf;
  font-family: "Poppins", sans-serif;
}

.footer-container {
  font-size: 14px;
}

.footer-container .footer-logo {
  margin-top: 1rem;
}

.footer-container .footer-logo .footer-l {
  width: 10rem;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.footer-container p {
  color: #ebfbff;
}

.footer-container a {
  color: #ebfbff;
}

.footer-container li {
  list-style: none;
  color: #ebfbff;
}

.header-container {
  padding: 3rem 5rem;
  width: 100%;
  height: auto;
  margin-bottom: 10rem;
  background-image: url(../images/bg-hero-desktop.svg);
  background-color: #ebfbff;
}

.header-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (42% 58%)[2];
      grid-template-columns: repeat(2, 42% 58%);
  -ms-grid-rows: ()[2];
      grid-template-rows: repeat(2);
      grid-template-areas: "nav nav" "text1 img";
  grid-gap: 2rem;
}

.header-grid .header-nav {
  width: 100%;
  height: auto;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: nav;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}

.header-grid .header-text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: text1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header-grid .header-img {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: img;
  padding: 1rem;
}

.header-grid .header-img img {
  width: 100%;
}

@media (max-width: 750px) {
  .header-container {
    padding: 3rem 5rem;
    width: 100%;
    height: auto;
    margin-bottom: 10rem;
    background-image: url(../images/bg-hero-desktop.svg);
    background-color: #ebfbff;
  }
  .header-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "nav" "text1" "img";
    grid-gap: 2rem;
  }
  .header-grid .header-nav {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: nav;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 2rem;
  }
  .header-grid .header-text {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: text1;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
  }
  .header-grid .header-text h1 {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  .header-grid .header-text P {
    margin-bottom: 4rem;
  }
  .header-grid .header-img {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: img;
    margin-top: 3rem;
    padding: 1rem;
  }
  .header-grid .header-img img {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .header-container {
    padding: 3rem 2rem;
  }
}

@media (max-width: 540px) {
  .header-nav .logo-nav {
    width: 30%;
    height: 1rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .header-nav a {
    font-size: 12px;
  }
}

.middle-container {
  width: 100%;
  height: auto;
  padding: 0 5rem;
  margin-bottom: 10rem;
}

.middle-container .middle-container-grid {
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "content1" "content2" "content3";
  grid-gap: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle-container .middle-container-grid .middle-content-1 {
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: content1;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50% 50%)[2];
      grid-template-columns: repeat(2, 50% 50%);
  grid-gap: 3rem;
  -webkit-box-shadow: 0 2px 5px #dfdfdf;
          box-shadow: 0 2px 5px #dfdfdf;
  border-radius: 1rem;
}

.middle-container .middle-container-grid .middle-content-1 .content-1-text {
  padding: 5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.middle-container .middle-container-grid .middle-content-1 .content-1-text h1 {
  margin-bottom: 1rem;
}

.middle-container .middle-container-grid .middle-content-1 img {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 80%;
  padding: 2rem 1rem;
}

.middle-container .middle-container-grid .middle-content-2 {
  width: 100%;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: content2;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50% 50%)[2];
      grid-template-columns: repeat(2, 50% 50%);
  grid-gap: 3rem;
  -webkit-box-shadow: 0 2px 5px #dfdfdf;
          box-shadow: 0 2px 5px #dfdfdf;
  border-radius: 1rem;
}

.middle-container .middle-container-grid .middle-content-2 .content-2-text {
  padding: 5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.middle-container .middle-container-grid .middle-content-2 .content-2-text h1 {
  margin-bottom: 1rem;
}

.middle-container .middle-container-grid .middle-content-2 img {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 80%;
  padding: 2rem 1rem;
}

.middle-container .middle-container-grid .middle-content-3 {
  width: 100%;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: content3;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50% 50%)[2];
      grid-template-columns: repeat(2, 50% 50%);
  grid-gap: 3rem;
  -webkit-box-shadow: 0 2px 5px #dfdfdf;
          box-shadow: 0 2px 5px #dfdfdf;
  border-radius: 1rem;
}

.middle-container .middle-container-grid .middle-content-3 .content-3-text {
  padding: 5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.middle-container .middle-container-grid .middle-content-3 .content-3-text h1 {
  margin-bottom: 1rem;
}

.middle-container .middle-container-grid .middle-content-3 img {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 80%;
}

@media (max-width: 1023px) {
  .middle-container .middle-container-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "content1" "content2" "content3";
    text-align: center;
  }
  .middle-container .middle-container-grid .middle-content-1, .middle-container .middle-container-grid .middle-content-2, .middle-container .middle-container-grid .middle-content-3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.last-content {
  max-width: 900px;
  width: 100%;
  height: auto;
  padding: 4rem;
  left: 50%;
  top: -40%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  border-radius: 1rem;
  -webkit-box-shadow: 3px 0 5px #dfdfdf;
          box-shadow: 3px 0 5px #dfdfdf;
  background-color: #fff;
  position: absolute;
  z-index: 9999;
}

@media (max-width: 1023px) {
  .last-content {
    max-width: 700px;
  }
}

@media (max-width: 767px) {
  .last-content {
    max-width: 500px;
    padding: 4rem 2rem;
    top: -25%;
  }
  .last-content a {
    padding: 1.5rem 4rem;
  }
  .last-content h1 {
    font-size: 2rem;
    margin-bottom: 3rem;
  }
}

.footer-container {
  width: 100%;
  height: auto;
  padding: 8rem 5rem 5rem 8rem;
  margin-top: 20rem;
  position: relative;
  background-color: #00252e;
}

.footer-container .footer-container-grid {
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "logo logo logo" "address about social";
  grid-gap: 2rem;
}

.footer-container .footer-container-grid .footer-logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: logo;
}

.footer-container .footer-container-grid .footer-address {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: address;
}

.footer-container .footer-container-grid .footer-address img {
  margin-right: 1.5rem;
}

.footer-container .footer-container-grid .footer-address .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5rem;
}

.footer-container .footer-container-grid .footer-address .location img {
  width: 1rem;
  height: 1rem;
}

.footer-container .footer-container-grid .footer-address .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5rem;
}

.footer-container .footer-container-grid .footer-address .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-container .footer-container-grid .footer-about {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: about;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "about-us career";
  text-align: left;
}

.footer-container .footer-container-grid .footer-about .about-us {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: about-us;
}

.footer-container .footer-container-grid .footer-about .about-us li {
  margin-bottom: 1.5rem;
}

.footer-container .footer-container-grid .footer-about .career {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: career;
}

.footer-container .footer-container-grid .footer-about .career li {
  margin-bottom: 1.5rem;
}

.footer-container .footer-container-grid .footer-social {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: social;
}

.coded {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #00252e;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  margin-left: 2em;
}

.coded .coded1 {
  border-radius: 1em;
  border: 1px solid white;
  margin-left: 1em;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.coded a {
  text-decoration: none;
}

@media (max-width: 1023px) {
  .footer-container {
    padding: 10rem 3rem 5rem 3rem;
  }
}

@media (max-width: 767px) {
  .footer-container .footer-container-grid {
    width: 100%;
    height: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "logo" "address" "about" "social";
    grid-gap: 2rem;
  }
  .footer-container .footer-container-grid .footer-about {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: about;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "about-us" "career";
    text-align: left;
  }
  .footer-container .footer-container-grid .footer-social {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: social;
    text-align: center;
  }
  .coded {
    margin-left: 18em;
    width: 15%;
  }
}
/*# sourceMappingURL=style.css.map */